# 1. Core ML Libraries (Server/CPU specific versions)
torch==2.1.2 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.2 --index-url https://download.pytorch.org/whl/cpu
opencv-python-headless==4.9.0.80

# 2. Application Libraries
Flask==3.0.0
Flask-Cors==4.0.0
gunicorn==21.2.0

# 3. AI & Utility Libraries
ultralytics # <--- !!! قمنا بإزالة رقم الإصدار من هنا !!!
gTTS==2.5.1
Pillow==10.1.0
numpy==1.26.2
uuid
